@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 shadow-sm bg-white border-bottom">
            <span class="text-success fw-bold">
                <i class="bi bi-circle-fill small me-2 animate-pulse"></i> სისტემა აქტიურია
            </span>
        </div>

        <article class="content px-4 py-4">
            @Body
        </article>
    </main>
</div>